doctype html
html(lang="en")
    head
        title= "Mingle:Real time web chat"
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
        link(rel='stylesheet', href='static/stylesheets/styles.css')
    body
        #wrap
            nav.navbar.navbar-default(role='navigation')
                .container-fluid
                    .navbar-header
                        a.navbar-brand(href='#') Mingle
            block content
            #content
            .controls
                .infield#shared
                | Name:
                input#name
                .infield
                | Message:
                input#field
                input#send(type='button', value='send')
                .infield    
                | Share URL:
                input(type='text', data-room=share, name='shareUrl', value=shareURL ReadOnly).form-control

                
         #footer
            .container
                p.text-muted
                    | Developed by
                    | <a href="http://github.com/mukesh-kumar1905/">Mukesh Kumar</a>